/*
|--------------------------------------------------------------------------
| Content Sidebar
|--------------------------------------------------------------------------
*/

.page-content{
    padding:20px;
}

/*
|--------------------------------------------------------------------------
| Content Sidebar
|--------------------------------------------------------------------------
*/

.content-sidebar{
   padding-left:240px;

       .container{
           width:100%;
       }
}
 
/*
|--------------------------------------------------------------------------
| Page Title Header
|--------------------------------------------------------------------------
*/

.page-title{
    border-bottom: 1px solid silver;
    font-size: em(13);
    padding: 10px 25px
}

/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
*/

.list-card{
    padding: 25px;
    @extend .clearfix; 
    
    .card{
        height:240px;
        border:1px solid silver;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}
 
 